/* App.css */

.App-header {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
}
